@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

:root {
  --theme: #00a884;
  --dark: #101a20;
  --bg-low-dark: #2a3b45;
  --text-dark: #41525d;
  --teal: #008069;
  --chat-dark: #222e35;
  --text-low-light: rgba(233, 237, 239, 0.88);
  --text-low-sec: #8696a0;
  --icon: #aebac1;
  --text-second: #d1d7db;
  --list-active: #2a3942;
  --list-hover: #202c33;
  --chat-out: #005c4b;
  --chat-in: #202c33;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 340px) {
  body {
    min-width: 340px;
  }
}
